[2020-11-02 09:58] Mukarrim opened #5 "opencv_java4 Not Found Runtime_Exception"
[code]

[2020-11-02 10:53] mishraaditya595 commented on #5
I believe you are missing some or all files from the jnilibs folder. Or you are specifying the wrong file in the function.

[2020-11-02 11:04] Mukarrim commented on #5
I simply cloned the github repo.

[2020-11-02 13:57] mishraaditya595 commented on #5
I tried it. It was running perfectly fine.

[2020-11-03 07:35] Mukarrim commented on #5
You're right, it only happened with Emulators. Thanks for the great work! 🥇

[2020-11-03 08:21] mishraaditya595 commented on #5
Thanks for your interest in the project.

[2020-11-03 08:21] #5 closed

[2021-01-15 11:00] mishraaditya595 opened #6 "Documentation of the entire codebase"
As one might notice that the codebase for the project has not been documented properly.

[2021-01-15 11:02] mishraaditya595 opened #7 "Implementing MVVM architecture"
The project does not follow any particular Android architecture. It would be great if anyone can implement MVVM (Model - View - ViewModel) architecture components in the project.

[2021-01-15 11:05] mishraaditya595 opened #8 "Improvements to README.md"
The readme section of the project is very basic. A lot of improvements can be done.

[2021-01-15 11:09] mishraaditya595 opened #9 "Improvements to the UI of the OCR fragment"
The fragment dedicated to the OCR is pretty average or ordinary.

[2021-01-15 11:11] mishraaditya595 opened #10 "Improvements to the entire UI"
Contributors can add new vector or image assets to the project. The overall look and feel of the app can be enhanced with animations and other similar things. Material Design concepts are a big plus.

[2021-01-15 11:14] mishraaditya595 opened #11 "Migrating from List View to Recycler View"
Listview is used in the home fragment to show all the scanned documents. Implementing the much-improved Recycler View can be done.

[2021-01-15 11:17] mishraaditya595 opened #12 "Implementing a Settings/Info page"
There is no fragment/activity to show the settings or about section for the app. It can contain a toggle for light/dark mode, the open-source licences, privacy policies and other similar things.

[2021-01-15 11:19] mishraaditya595 opened #13 "Implementing multi page document scanning feature"
Currently, the mechanism used to convert an image into a pdf only converts an image to a pdf. A feature to scan multiple pages to a single pdf can be done.

[2021-01-15 11:22] mishraaditya595 opened #14 "Implementing share as jpg/png feature"
Currently, the scanned documents can be shared only in the form of a pdf. A feature to provide the user with an option to share the scanned document in the form of an image can be implemented.

[2021-01-15 11:26] mishraaditya595 opened #15 "Implementing feature for pdf to docx conversion"
Most online pdf to doc convertors use OCR to do the job. OCR has already been implemented in the app. A feature to convert pdf files into docx can be done.

[2021-01-15 11:33] mishraaditya595 opened #16 "Implementing Scoped Storage functionality"
In the latest Android release, it has been made mandatory for apps to follow scoped storage functionality. It can be implemented in this project.

[2021-01-15 11:35] mishraaditya595 opened #17 "Optimise App Bundle size"
The application after installation is around 45 MB in size. Further reduction in the size can be made by code optimisations.

[2021-01-15 11:37] mishraaditya595 opened #18 "Creation of Issue Template"
An issue template for the project can be created.

[2021-01-16 01:22] Aarush-Goyal commented on #18
@mishraaditya595 can I work on it?

[2021-01-16 04:36] mishraaditya595 commented on #18
Sure, I am assigning the issue to you.  @Aarush-Goyal

[2021-01-16 04:44] akrish4 opened #21 "Integrate Welcome and Greeting Bot"
Hi @mishraaditya595
I would like to contribute to this amazing project
I can add a config file and integrate the bot so that whenever a new user opens a issue or pr , the bot will comment and greet the user with a proper message

Let me know if you are interested

Kindly do assign me

[2021-01-16 04:47] akrish4 opened #22 "PR TEMPLATE"
HI @mishraaditya595
I would like to add a pr template which will give a template and users need to fill it inorder to open a or and maintainer will get better understanding of the pr with images

Kindly do assign me

[2021-01-16 04:55] Amit366 commented on #7
I would like to work on this issue but can u explain what exactly I need to do.

[2021-01-16 05:05] Sloth-Panda opened #23 "readme updation"
Readme can be updated by adding links to code of conduct , contributing file, and also including various open-source programs this project a part of, also emojis

let me know if this needs to be done

[2021-01-16 05:06] Sloth-Panda opened #24 "Contributors.md"
Hey, as the project will grow so the no  of contributors so let me know if you want to keep a seprate  contributors file

[2021-01-16 05:08] mishraaditya595 commented on #7
If you go through the code, you will be able to see that the code is not structured. Classes/Activities/Fragments are scattered randomly. I want the MVVM (Model-View-ViewModel) structural design pattern to be implemented in the project so that the entire code base gets organised.

Models hold application data. They’re usually structs or simple classes.
Views display visual elements and controls on

[2021-01-16 05:15] mishraaditya595 commented on #21
Sounds good @akrish4. I am assigning the issue to you.

[2021-01-16 05:24] mishraaditya595 commented on #22
Sounds good @akrish4. Assigning you the issue.

[2021-01-16 05:26] kanishkaa24 commented on #8
Hey
Can I work on this?

[2021-01-16 05:26] kanishkaa24 commented on #10
Do you want a design or implementation of the design ?

[2021-01-16 05:28] kanishkaa24 opened #25 "CONTRIBUTIONGUIDELINES.md"
The project could use a well illustrated contribution guidelines documentation. I would love to work on it.

[2021-01-16 05:29] kanishkaa24 commented on #18
I would love to work on it.

[2021-01-16 05:31] mishraaditya595 commented on #8
Sure. I am assigning you the issue.

[2021-01-16 05:33] mishraaditya595 commented on #10
Both the wireframe and the implementation.

[2021-01-16 05:34] kanishkaa24 commented on #10
I can work with the wireframe only.

[2021-01-16 05:59] mishraaditya595 commented on #25
Sounds good @kanishkaa24. I am assigning you this issue.

[2021-01-16 06:02] mishraaditya595 commented on #23
Sounds good @Sloth-Panda. Assigning you this issue.

[2021-01-16 06:03] Sloth-Panda commented on #23
plz add the dwoc" and a level" tag to it

[2021-01-16 06:20] Sloth-Panda commented on #23
pr-> #26

[2021-01-16 08:49] kenkirito commented on #10
Can i work on this issue

[2021-01-16 08:49] kenkirito commented on #9
Can i work on this issue

[2021-01-16 08:50] kenkirito commented on #7
Can i work on this project

[2021-01-16 10:59] mishraaditya595 commented on #9
Sure. I am assigning this issue to you.

[2021-01-16 11:03] mishraaditya595 commented on #7
Do you mean this issue? @kenkirito

[2021-01-16 11:11] kenkirito commented on #7
Yes

[2021-01-16 11:13] mishraaditya595 commented on #10
sounds good @kenkirito, try beginning with the wireframe. Make a new directory and paste your wireframe into it. If it looks good, you can start implementing the UI. Assigning you this issue.

[2021-01-16 11:14] mishraaditya595 commented on #7
Ok! Assigning the issue. @kenkirito

[2021-01-16 13:40] kenkirito commented on #10
hi @mishraaditya595 I am not so good at making a UI design but I am good at implementing it in frontend

[2021-01-16 14:55] Amit366 commented on #13
I would like to work on this issue

[2021-01-16 17:33] mishraaditya595 commented on #13
I am assigning the issue to you. @Amit366

[2021-01-16 17:34] mishraaditya595 commented on #10
This is an Android project. I am not really getting what are you trying to say.

[2021-01-16 18:01] kenkirito commented on #10
nothing I try to complete it

[2021-01-17 07:09] muthuannamalai12 opened #28 "Integrate Welcome bot"
Hello there,
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-17 07:09] muthuannamalai12 commented on #28
I would love to work on this issue as a part of DWOC. Kindly assign it to me

[2021-01-17 10:43] Amit366 commented on #13
Sir, when I am running it in my Android studio it says newer version of Android is required.

[2021-01-17 13:59] akrish4 commented on #21
Hi @mishraaditya595
I have wworked on it , kindly do check and merge it
#29
Thank you

[2021-01-17 15:18] mishraaditya595 commented on #13
Can you post a snapshot of the error log?

[2021-01-17 15:33] Amit366 commented on #13
![Screenshot (32)](https://user-images.githubusercontent.com/60662775/104847660-7a834b00-5907-11eb-9e4f-fc092fc4148a.png)

[2021-01-17 15:40] mishraaditya595 commented on #13
I believe you are not on the latest version of the Android Studio. Try looking for the ide version. I am on Android Studio 4.1.1.

[2021-01-17 15:41] Amit366 commented on #13
Now should I update?

[2021-01-17 15:42] Amit366 commented on #13
Because I cloned one repository today but it didn't show the error

[2021-01-17 15:42] mishraaditya595 commented on #13
Try updating

[2021-01-17 16:13] #21 closed

[2021-01-17 16:23] mishraaditya595 commented on #28
The project is not accepting any more bot requests for now.

If you want to contribute, you must have an eligible contribution. You will find things that you can work on under the issues tab.

[2021-01-17 16:23] #28 closed

[2021-01-17 16:25] #23 closed

[2021-01-18 04:16] Vrushti24 commented on #6
I would love to work on this issue but can you elaborate what exactly I have to do??

[2021-01-18 05:23] mishraaditya595 commented on #6
If you go through the code, you will notice that the code has not been documented. So, you have to go through the code, understand what does a function do and document it with the help of comments.

[2021-01-18 05:40] Vrushti24 commented on #6
Okay I will try to do that u can assign me

On Mon, Jan 18, 2021, 10:54 AM Aditya Mishra <notifications@github.com>
wrote:

[2021-01-18 05:41] mishraaditya595 commented on #6
ok assigning the issue!

[2021-01-18 06:36] Vrushti24 commented on #6
Thank u for this how much time is allocated to me to complete?

On Mon, Jan 18, 2021, 11:12 AM Aditya Mishra <notifications@github.com>
wrote:

[2021-01-18 06:39] mishraaditya595 commented on #6
I think 48 hours will be sufficient for documenting it.

[2021-01-18 06:40] Vrushti24 commented on #6
Okay👍

On Mon, Jan 18, 2021, 12:09 PM Aditya Mishra <notifications@github.com>
wrote:

[2021-01-18 17:03] #22 closed

[2021-01-18 17:10] mishraaditya595 commented on #9
Hey @kenkirito, any updates?

[2021-01-18 17:11] mishraaditya595 commented on #7
Hey @kenkirito, any updates?

[2021-01-18 17:12] mishraaditya595 commented on #8
Hey @kanishkaa24, any updates?

[2021-01-18 17:13] kanishkaa24 commented on #8
I'll make the PR tomorrow. It's under progress.

[2021-01-18 17:13] mishraaditya595 commented on #18
Hey @Aarush-Goyal, any updates?

[2021-01-18 19:44] kenkirito commented on #7
Sorry I am busy. I will get back to you tomorrow for updates

[2021-01-19 03:14] #18 closed

[2021-01-19 09:04] #25 closed

[2021-01-19 10:28] kanishkaa24 commented on #8
Do you have any logo ?

[2021-01-19 10:40] mishraaditya595 commented on #8
You can find it [here](https://github.com/mishraaditya595/ScanIt/blob/master/app/src/main/scanit_icon-playstore.png)

[2021-01-19 11:02] kanishkaa24 commented on #8
Can you tell me the procedure to run the code locally ?

[2021-01-19 11:04] mishraaditya595 commented on #8
You will need Android Studio on your system.

[2021-01-19 11:05] kanishkaa24 commented on #8
I am planning to add it in the readme section so that the contributors can work accordingly.

[2021-01-19 11:11] mishraaditya595 commented on #8
Ok, draft it out. I will add my inputs to your work.

[2021-01-19 11:12] kanishkaa24 commented on #8
I don't have any idea about this. Could you give me some pointers?

[2021-01-19 11:14] mishraaditya595 commented on #8
Pointers as in?

[2021-01-19 11:56] kanishkaa24 commented on #8
As in how to install and run code locally

[2021-01-19 14:00] Vrushti24 commented on #6
Sir I m finding difficulty in understanding the code because I have  very
little knowledge of java or kotlin is there someway still I can do
documentation ??
I m sorry to trouble you

On Mon, Jan 18, 2021, 12:09 PM Vrushti Shah <vrushtishah24@gmail.com> wrote:

[2021-01-20 03:55] mishraaditya595 commented on #13
Hello @Amit366, are there any updates?

[2021-01-20 04:02] Amit366 commented on #13
Sir, I am not understanding how to go about it?

[2021-01-20 04:02] Amit366 commented on #13
I mean what to change.

[2021-01-20 09:48] mishraaditya595 commented on #13
Install the beta version of the app from Play Store. Try scanning a document and saving it as a pdf. While saving you will notice, there is no option to add more pages of the document to the pdf. This issue is regarding it.

[2021-01-21 03:12] #8 closed

[2021-01-21 03:14] mishraaditya595 commented on #7
Any updates?

[2021-01-21 16:04] kenkirito commented on #7
Working on it

[2021-01-25 08:53] codeDamon commented on #12
I want to work on this issue. Please assign this to me.

[2021-01-25 09:00] codeDamon commented on #11
I want to work on this issue. Please assign this to me.

[2021-01-25 11:14] codeDamon opened #34 "Missing google-services.json file"
**Description**
There should be a file named - "google-services.json" in the project to use firebase services.
When running(installing) the project on android device an error arrives.(Refer screenshot)

Please @mishraaditya595 , add this file in the project.

**Working Environment**
Android Studio 4.1.2

**Screenshots**
![error_screenshot](https://user-images.githubusercontent.com/59572531/1056983

[2021-01-26 03:51] mishraaditya595 commented on #11
Ok assigning it to you.

[2021-01-26 03:52] mishraaditya595 commented on #12
Ok assigning it to you.

[2021-01-26 03:55] mishraaditya595 commented on #34
I cannot add this file. That contains my api info. You have to create a firebase project for the app and get the google-services.json file from there.

[2021-01-26 11:22] codeDamon commented on #34
Ok, I understand. Created google-services.json. Thanks.

[2021-01-26 11:22] #34 closed

[2021-01-26 11:51] Ashuto7h commented on #17
I would like to work on this issue. assign it to me.

[2021-01-26 13:00] mishraaditya595 commented on #17
Ok! Assigning you.

[2021-01-26 17:33] #16 closed

[2021-01-26 17:37] mishraaditya595 commented on #13
Hey @Amit366, any updates?

[2021-01-27 11:49] mishraaditya595 commented on #10
You have been inactive for a long time. Hence, you are being unassigned.

[2021-01-27 15:30] codeDamon commented on #10
I can change theme of the complete app to support light/dark theme. Assign this issue to me.

[2021-01-27 15:32] mishraaditya595 commented on #10
Assigning you this issue. @codeDamon

[2021-01-29 14:26] codeDamon commented on #12
I think this issue needs to be closed.

[2021-01-29 14:33] #12 closed

[2021-02-08 16:19] RuchiGitHu commented on #6
Good Evening...
Can you please send me the link of github repo for this issue? So that I can check if I am able to resolve this issue.....
Thanks in advance...

[2021-02-12 08:06] mishraaditya595 commented on #6
Check the repo in whose **issue's section** you have commented.

[2021-02-12 11:17] RuchiGitHu commented on #6
Thanks..

[2021-02-15 07:48] tharunc commented on #15
Hello there,
    I would like to add work on this issue. Kindly assign me this issue as a part of DWOC.

[2021-02-16 20:46] Swastik1710 opened #39 "Contributors table in readme.md file."
**Description**

I wanna add a Contributors table in the readme file which will keep updating automatically.
Also, I'll be adding a separate line to showcase the project admin in the readme file.

**Stack**

Project stack or language (eg. Frontend):

**Working Environment**

Operating System (eg Linux):

Browser (eg. Chrome):

Device (eg. Laptop or Phone):

**Screenshots**

Please add a screenshot

[2021-02-16 20:55] Swastik1710 commented on #39
Kindly assign me this issue so that I can start working on this.

[2021-02-19 13:42] Riyanka18 commented on #11
I want to work on this issue during the GirlScript Summer of Code

[2021-02-22 04:19] Shivam7-1 opened #40 "Dynamic contributor images at readme.md file"
**Description**

A brief description of the question or issue: Dynamic contributor images is required at readme.md file

[2021-02-26 02:25] kunal299 commented on #14
@mishraaditya595 Hey, I am a participant of GirlScript Summer of Code. I am interested in contributing to this issue when the GSSoc starts.

[2021-02-26 02:28] kunal299 commented on #15
@mishraaditya595 I would also like to work on this issue. Kindly assign me this issue when the GSSoC starts.

[2021-02-27 14:52] KapilYadav-dev commented on #9
Hello @mishraaditya595  Sir, can you please assign this one to me in GSSOC : )
I'll do proper improvement in OCR Fragment as well as in other's as you want.

[2021-02-28 15:49] KapilYadav-dev commented on #10
Hello Sir @mishraaditya595, please assign this one to me in GSSOC-21.
I'll add some cool animation with overall enhancement :)

[2021-02-28 16:03] mishraaditya595 commented on #10
I have not received any notice from the organisers to start assigning issues. I will do it as soon as I get confirmation from their side. Glad to see your interest.

[2021-02-28 16:04] mishraaditya595 commented on #9
I have not received any notice from the organisers to start assigning issues. I will do it as soon as I get confirmation from their side. Glad to see your interest.

[2021-02-28 16:04] mishraaditya595 commented on #15
I have not received any notice from the organisers to start assigning issues. I will do it as soon as I get confirmation from their side. Glad to see your interest.

[2021-02-28 16:05] mishraaditya595 commented on #14
I have not received any notice from the organisers to start assigning issues. I will do it as soon as I get confirmation from their side. Glad to see your interest.

[2021-02-28 16:53] kunal299 commented on #15
@mishraaditya595 sure

[2021-02-28 16:54] kunal299 commented on #14
@mishraaditya595 ya sure.

[2021-03-01 00:28] KapilYadav-dev commented on #10
Sure Sir @mishraaditya595 😄

[2021-03-02 18:10] Shreyash41 commented on #13
@mishraaditya595 Hello there, I would like to add work on this issue. Kindly assign me this issue as a part of GSSOC'21.

[2021-03-03 05:39] mishraaditya595 commented on #13
I have not received any notice from the organisers to start assigning issues. I will do it as soon as I get confirmation from their side. Glad to see your interest.

[2021-03-08 03:21] deepthiteki commented on #6
Hey @mishraaditya595
Can I work on this issue under GSSOC'21

[2021-03-08 17:16] subhangi2731 commented on #15
can you please assign this to me?

[2021-03-09 05:09] Shaswat-2203 commented on #15
yeah , mentors told us to go to projects we like and ask you all to assign in particular issue

[2021-03-09 07:57] sudhansukinng commented on #15
@mishraaditya595 sir, Please assign this issue to me. I would love to work on this issue.

[2021-03-09 09:11] MukulKolpe commented on #11
Hey, I am GSSOC'21 participant. I am interested to work on this project. Can you please assign this issue to me???

[2021-03-09 09:17] MukulKolpe commented on #11
Okk... @codeDamon

[2021-03-09 15:47] coderdada6 commented on #6
I want to work on this issue , being a participant at GSSoC'21 can i work on it?

[2021-03-09 19:20] mohdjameel2412 commented on #6
please assign it to me under gssoc21

[2021-03-10 05:00] mishraaditya595 commented on #14
Hey @kunal299, you have already been assigned issue #15. Once that is completed, you can start working on others.

[2021-03-10 05:00] #11 closed

[2021-03-10 05:01] mishraaditya595 commented on #10
Hey @KapilYadav-dev, you can start working on it.

[2021-03-10 05:02] mishraaditya595 commented on #6
Hello everyone, glad to see your interest in ScanIt, as there are multiple interested developers, I will try to give chance to everyone on a first-come-first-serve basis. @deepthiteki  had approached first so he will be getting the chance. If he does not respond in the next 24 hours, the next in line will be assigned.

[2021-03-10 05:17] KapilYadav-dev commented on #10
Yes sir @mishraaditya595  ...   :)

[2021-03-10 05:19] coderdada6 commented on #6
sure sir.

[2021-03-10 05:20] Shreyash41 commented on #13
@mishraaditya595 Sir Since this is for GSSoC'21 I think you forgot to add the GSSoC'21 label. Can you please add it?

[2021-03-10 05:37] kunal299 commented on #14
@mishraaditya595 ok

[2021-03-10 05:38] kunal299 commented on #15
@mishraaditya595 I am working on this issue.

[2021-03-10 05:58] av-arvind77 opened #42 "java.lang.unsatisfiedLinkError"
E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.vob.scanit, PID: 9196
    java.lang.UnsatisfiedLinkError: dlopen failed: file offset for the library "/data/app/com.vob.scanit-UfjfEnlsXyn1d-vGYqQN7Q==/lib/arm/libopencv_java4.so" >= file size: 0 >= 0
        at java.lang.Runtime.loadLibrary0(Runtime.java:1016)
        at java.lang.System.loadLibrary(System.java:1669)
        at com.monscann

[2021-03-10 06:00] av-arvind77 commented on #42
I just run this project in my phone which is MI Redmi 6A. It got installed but while opening camera and files , app crashing.

[2021-03-10 08:34] deepthiteki commented on #6
Thank you, sir
I will try to create pr as soon as possible

[2021-03-10 09:13] mishraaditya595 commented on #42
I guess there must be something in MIUI that is incompatible. Unfortunately, I do not have access to a Xiaomi/Redmi device. Tried it on multiple other phones and have it had worked well.

[2021-03-10 09:15] mishraaditya595 commented on #13
I have been asked to label the PRs. Once you make the appropriate PR, I will.

[2021-03-10 10:06] av-arvind77 commented on #42
@mishraaditya595 Shall I close this issue or resolve it in MIUI device ?

[2021-03-10 10:25] anirudhsai20 commented on #39
Hi @mishraaditya595 . Kindly assign me this issue under GSSOC.

[2021-03-10 14:24] KapilYadav-dev commented on #10
@mishraaditya595  sir, is this for GSSOC issue ?
There is no label for that...

[2021-03-10 16:57] Areeb-510 opened #44 "Json File missing"
**Description**
The google-services.json file is missing in the project. Should we resolve this issue by using our firebase account for the same

Execution failed for task ':app:processDebugGoogleServices'.

Project stack or language (eg. Frontend):
Android Java

[2021-03-10 17:10] Rads1208 commented on #44
google-services.json file is missing, it is not a bug. You will have to generate your own google-services.json file from the firebase console.

1. Go to - > https://console.firebase.google.com/
2. Now create a new project there and fill required fields such as app package name, app name, etc.
3. Now It will give you an option to download your google-services.json file.
4. after downloading the fil

[2021-03-10 21:05] XCheise commented on #7
I will like to be assign to this task, i will like to implement with navigation component with this architecture if that's fine.

[2021-03-10 21:11] Bik-Krlvn commented on #7
I will like to be assign to this task, i will like to implement with navigation component with this architecture if that's fine.

[2021-03-11 04:08] mishraaditya595 commented on #44
That should solve the issue. Thanks!

[2021-03-11 04:08] #44 closed

[2021-03-11 04:09] mishraaditya595 commented on #42
You can try resolving it

[2021-03-11 04:10] mishraaditya595 commented on #39
This ain't a part of GSSOC

[2021-03-11 04:10] #39 closed

[2021-03-11 04:12] mishraaditya595 commented on #9
Hey @KapilYadav-dev, you can start working on the issue. Keep me informed.

[2021-03-11 04:13] mishraaditya595 commented on #7
Glad to see your interest @Bik-Krlvn. You can start working on it.

[2021-03-11 04:15] mishraaditya595 commented on #10
yes it is

[2021-03-11 04:16] #40 closed

[2021-03-11 04:17] #24 closed

[2021-03-11 04:31] KapilYadav-dev commented on #9
Sure @mishraaditya595  😄

[2021-03-11 04:49] coderdada6 commented on #14
Hey, I am a participant at GSSoc'21 , I am really interested to contribute to this issue can you assign me?

[2021-03-11 06:20] av-arvind77 commented on #10
@mishraaditya595 Can I also work on this issue ? It will be better if 2 people will work on the UI improvements and choose the better one.
Please assign if you feel this is right.

[2021-03-11 06:53] Rads1208 commented on #44
@mishraaditya595 Welcome! I'm a participant of GSSoC

[2021-03-11 06:56] shreyadubey0902 commented on #6
Hey, I am a participant at GSSoc'21 , I am really interested to contribute to this issue can you assign me?

[2021-03-11 06:57] Bik-Krlvn commented on #7
Ok

[2021-03-11 08:13] mishraaditya595 commented on #10
Sounds good to me

[2021-03-11 08:16] mishraaditya595 commented on #6
Hey @deepthiteki, did you unassign yourself or was it a mistake?

[2021-03-11 08:30] rasikabakre commented on #14
As a participant of GSSoc' 21, I would really like to contribute to this issue! Could you assign it to me?

[2021-03-11 08:34] deepthiteki commented on #6
Hi @mishraaditya595,
I don't have much experience in kotlin so It's taking much longer than I thought and there seems to be a lot of people who are interested and have related skill set.
That's why I unassigned myself.
Sorry

[2021-03-11 14:04] mishraaditya595 commented on #6
Hey @shreyadubey0902, you can start working on it. Keep me informed!

[2021-03-11 17:19] shreyadubey0902 commented on #6
thankyou @mishraaditya595 Ok I will keep informing it

[2021-03-12 06:25] mishraaditya595 opened #46 "Readme Improvements"
Updates to the readme in a positive way.

[2021-03-12 09:38] ArshpreetS commented on #46
What kind of updates are you expecting?

[2021-03-12 11:39] rohank2502 opened #47 "Will like to add the contribution section in read me and update the tech stack used with the logo in readme"
I will like to add the contribution section at the end of read me this will keep updating automatically and also like to add the tech stack section with their logo this will make our read me file more attractive !! Will start to work on this issue as soon as I get assigned !!

[2021-03-13 07:30] rahulsain commented on #46
Please assign me this issue and what kind of improvements do I have to make?

[2021-03-13 11:05] khareyash05 opened #48 "update contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-13 17:32] mishraaditya595 commented on #46
You can use your creativity for the ReadMe. If I like it, I will merge it. One thing that I have on the bucket list is adding the GSSOC tag at the end as the readme already has for DWOC. I am assigning the issue to both of you. Use all your creativity as you wish.

[2021-03-13 17:33] mishraaditya595 commented on #42
I hope this fixes the issue. If the issue still persists, you can reopen it.

[2021-03-13 17:33] #42 closed

[2021-03-13 17:38] mishraaditya595 commented on #48
Hey @khareyash05, glad to see your interest in ScanIt.The things you mentioned are just one web search away and feels pretty unnecessary to me. There are a bunch of live issues. You can try to fix those or can reach out with some better ideas for improving the project.

[2021-03-13 17:38] #48 closed

[2021-03-13 21:30] Bik-Krlvn commented on #7
I'm having this trouble with this repo and gradle for awhile now, kinda thought i could make it work buh still no head way, I manage to make it run by turning of firebase deps but can't build my code neither is the layout xml files opening.
please you can unassign me till I manage my issues properly.

![err_2](https://user-images.githubusercontent.com/21101827/111044880-21392300-8443-11eb-9a49-aa6

[2021-03-14 04:22] mishraaditya595 commented on #7
I believe you did not clone the repo properly in your system. Try it once again.

[2021-03-14 04:26] mishraaditya595 commented on #47
Hey @rohank2502, glad to see your interest in ScanIt.The things you mentioned feels pretty unnecessary to me. There are a bunch of live issues. You can try to fix those or can reach out with some better ideas for improving the project.

[2021-03-14 04:26] #47 closed

[2021-03-14 07:02] rahulsain commented on #46
@mishraaditya595 Please check if you want any more improvements

[2021-03-15 06:10] iamsachin45 opened #52 "google-services-json error"
Execution failed for task ':app:processDebugGoogleServices'.

   Searched Location:
  C:\Users\hp\AndroidStudioProjects\ScanIt\app\src\nullnull\debug\google-services.json
  C:\Users\hp\AndroidStudioProjects\ScanIt\app\src\debug\nullnull\google-services.json
  C:\Users\hp\AndroidStudioProjects\ScanIt\app\src\nullnull\google-services.json
  C:\Users\hp\AndroidStudioProjects\ScanIt\app\src\debug\goog

[2021-03-15 06:11] iamsachin45 commented on #52
i have founded a solution using firebase.Is there any way to solve this using android stdio code?

[2021-03-15 12:12] mishraaditya595 commented on #52
the only way to solve it is that you need to integrate firebase with the project. Just open a new firebase project and download the JSON file from there and place that inside the 'app' directory of your android project and you are good to go.

[2021-03-15 13:02] Priyanshu078 opened #53 "Problem in the OCR Fragment of the app"
There is a typo in the OCR fragment
" Click on the '+' icon to start extracting texts "fromt" the images."
It should be "from" in place of "fromt".

I want to work on this issue, Kindly assign it to me.
Here is the screenshot
![1603558656662](https://user-images.githubusercontent.com/66347715/111157380-d511ee00-85bc-11eb-8b0e-023171f939c7.png)

[2021-03-15 13:04] Priyanshu078 commented on #53
I want to work on this issue, kindly  assign it to me

[2021-03-15 13:05] Priyanshu078 commented on #53
I am a GSSOC participant

[2021-03-15 15:32] rajeshpanjiyar opened #54 "Adding CONTRIBUTORS.md file"
**Hi,** I would like to add a contributors file to add the **name and GitHub handle** of respected contributors.
- I am a participant under GSSoC'21

[2021-03-15 18:14] amritakesh commented on #54
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 18:14] amritakesh commented on #46
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 18:14] amritakesh commented on #14
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 18:15] amritakesh commented on #6
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-16 12:02] nidhisingh-1 commented on #54
I would like to work on this

[2021-03-16 12:04] nidhisingh-1 commented on #10
@av-arvind77 can I work with you on this issue too? If @mishraaditya595 is okay.. Have worked on UI things previously

[2021-03-16 14:26] gargk747 commented on #17
Hey @mishraaditya595 Can i work on this issue?

[2021-03-16 14:56] mishraaditya595 commented on #54
ScanIt is not accepting these kind of issues for GSSOC.

[2021-03-16 14:56] #54 closed

[2021-03-16 14:56] mishraaditya595 commented on #53
Fixed in upcoming versions!

[2021-03-16 14:56] #53 closed

[2021-03-16 15:25] mishraaditya595 commented on #10
It is fine with me. Hey @av-arvind77 & @KapilYadav-dev, what is your status?

[2021-03-16 15:26] mishraaditya595 commented on #17
yeah sure! all the best.

[2021-03-16 15:27] mishraaditya595 commented on #14
Hey guys, sorry for the delayed response. As there are multiple responses, I would like to give this opportunity to all of you to work around your solutions. Please reply back those who are interested.

[2021-03-16 15:29] mishraaditya595 commented on #6
Hey @shreyadubey0902, It has been 5 days since you have been assigned with this issue and you have not forked the repo yet. Can I know the status?

[2021-03-16 15:45] kunal299 commented on #14
@mishraaditya595 Hey, I am interested in solving this issue. Please assign it to me. I will complete it and create a pr by tomorrow

[2021-03-16 15:53] nidhisingh-1 commented on #10
okay so ...are these people collaborating somewhere for it or should i post me own ideas?

[2021-03-16 16:11] KapilYadav-dev commented on #10
@mishraaditya595 bruh, you can assign @nidhisingh-1 instead of me...
Currently, my end SEM are going on : (

[2021-03-16 16:14] av-arvind77 commented on #10
@mishraaditya595 I am almost done with the UI. I will create the PR by tomorrow after finishing all the UI design.

[2021-03-16 16:39] mishraaditya595 commented on #15
Hey @kunal299, what is the status of your work? It has been 6 days. If you are facing some issues, let me know.

[2021-03-16 16:45] kunal299 commented on #15
@mishraaditya595 I was just researching about ocr and learning how to implement it. As I am new to android dev, could you just break down the tasks for this issue so that i would complete it faster.

[2021-03-16 23:03] ArshpreetS commented on #46
#56 Please check and confirm my PR for this issue.

[2021-03-17 01:54] #52 closed

[2021-03-17 04:49] mishraaditya595 commented on #15
Ok! That's cool. I will try to simplify it. In the meantime, does anyone else also want to work on it? @sudhansukinng @Shaswat-2203 @subhangi2731

[2021-03-17 06:00] Shaswat-2203 commented on #15
Yeah sure I want to work in it @mishraaditya595

[2021-03-17 21:06] leoshrey opened #59 "Improve the User Interface for Floating Add Button"
**Current Problem**

Whenever the user clicks on the Add button (Floating Button) on home screen which is having documents listed. A jam-packed and frustrating interface appears where the text/description of floating items (Open Camera, Open Files) overlaps the background text (can be seen below). Which doesn’t look like a _good_ _interface._
<p align="center">
<img width="260" height="480" src="h

[2021-03-18 04:17] mishraaditya595 commented on #59
Sounds good to me, You can start working.

[2021-03-18 19:19] leoshrey opened #60 "Problem with OCRFragment.kt file"
**Description**

I downloaded google-services.json after creating a Firebase project, also I updated the build.gradle files in app and project directories ( included code to dependencies as mentioned on the firebase console ). But I am facing an issue with building the application as it is throwing errors on various lines of OCRFragment.kt file. Which I think is the problem with firebase ML kit.
L

[2021-03-19 04:32] mishraaditya595 commented on #60
hey, I guess wherever you are getting the error regarding the context part, replace "context" with "requireContext".
Coming to the problem with visionTextDetector, make sure your dependencies in the build.gradle (app) file have these two:
`implementation 'com.google.firebase:firebase-core:15.0.2'
    implementation 'com.google.firebase:firebase-ml-vision:15.0.0'`

And for the rest, I guess updatin

[2021-03-20 08:15] simonnepinto commented on #6
Can I work on this issue?

[2021-03-21 15:45] codeakki commented on #59
@leoshrey
### Hey I wanted to work in this issue under Gssoc21

[2021-03-21 15:46] codeakki commented on #59
Just provide me the reference file

[2021-03-21 15:58] leoshrey commented on #59
@codeakki, good to see that you want to contribute, but this issue is already under progress.
Please look for some other open issues you can contribute to.

[2021-03-22 05:43] av-arvind77 commented on #60
@leoshrey Try with this firebase ML vision dependency:

implementation 'com.google.firebase:firebase-ml-vision:24.1.0'

Also, in place of visionTextDetector, replace it with :
val detector = FirebaseVision.getInstance()
        .onDeviceTextRecognizer

Change visionTextDetector to this line.

For any further assistance: https://firebase.google.com/docs/ml-kit/android/recognize-text
Check this one.

[2021-03-22 05:52] av-arvind77 commented on #10
@mishraaditya595
Hey Aditya, I have done the UI improvements of bottom navigation bar but I am unable to update because app not working properly while scanning part and taking files from files browser. So can I improve those parts first then move into UI improvements. As I have worked on OCR ,so I can implement this in much better way. Give me your number I will show you the demo of my work of OCR

[2021-03-22 10:19] rahulsain commented on #52
Do we also have to add google-services.json from our end too?

[2021-03-22 10:23] rahulsain commented on #14
Hey, could you please assign me this issue?

[2021-03-22 12:15] rahulsain opened #62 "App Crashing while opening Camera, some part is not working correctly"
**Description**

Some Features are not working in the application. Like scanning image , no preview mode , error while validating and app crash.

**Stack**

Project stack or language (eg. Frontend):

Logical Implementation

**Working Environment**

Operating System (eg Linux): Win 10

Browser (eg. Chrome): Edge

Device (eg. Laptop or Phone): Laptop/Phone

**Screenshots**

![image](https://user-ima

[2021-03-22 12:36] rahulsain commented on #60
@leoshrey Remove these dependencies from your app build.gradle file
`implementation platform('com.google.firebase:firebase-bom:26.7.0')`
`implementation 'com.google.firebase:firebase-analytics-ktx'`
and insert
`implementation 'com.google.firebase:firebase-core:15.0.2'`
`implementation 'com.google.firebase:firebase-ml-vision:15.0.0'`

[2021-03-22 17:04] leoshrey commented on #60
@rahulsain, Thanks a lot, it helped me out.
Now the application is building successfully.

[2021-03-23 05:30] av-arvind77 commented on #62
@rahulsain Hello Rahul, I was facing the same problem when I installed the app.
I am working on this issue to get it fixed asap. Once @mishraaditya595 merge it will start working.

[2021-03-23 05:36] rahulsain commented on #62
@av-arvind77 But none of us assigned yet. Wait for @mishraaditya595 permission

[2021-03-23 05:40] rahulsain commented on #60
Can you close the issue if solved?
Thank you in advance

[2021-03-23 05:58] leoshrey commented on #60
Sure, closing now

[2021-03-23 05:58] #60 closed

[2021-03-24 04:13] mishraaditya595 commented on #62
Hey @rahulsain, you can proceed to work on it.

[2021-03-24 05:14] av-arvind77 commented on #62
@mishraaditya595 Assign this task to me also. As I have worked on this issue and also implemented my logic for camera part. and also created PR for that.

[2021-03-24 05:59] mishraaditya595 commented on #59
Hey @leoshrey, what is the status of the issue?

[2021-03-24 06:00] mishraaditya595 commented on #14
Hey @kunal299, you can start working on it.

[2021-03-24 06:02] mishraaditya595 commented on #9
Hey @KapilYadav-dev, what is the status of the issue?

[2021-03-24 06:03] mishraaditya595 commented on #13
Hey @Shreyash41, what is the status of the issue?

[2021-03-24 06:04] mishraaditya595 commented on #6
Hey @simonnepinto, sorry for the delayed response. You can start working.

[2021-03-24 06:05] mishraaditya595 commented on #62
I just saw that. Sounds good to me.

[2021-03-24 06:07] mishraaditya595 commented on #7
Hey @Bik-Krlvn, what is the status?

[2021-03-24 06:07] mishraaditya595 commented on #10
Sure @av-arvind77

[2021-03-24 06:30] leoshrey commented on #59
@mishraaditya595, It's in progress. I've been engaged in some college stuff for a day. Now back in flow.

[2021-03-24 06:34] simonnepinto commented on #6
Thanks @mishraaditya595!
For documenting the codebase, I need to add comments (explaining what every function does) in every Kotlin file, right?

[2021-03-24 07:37] mishraaditya595 commented on #6
yes

[2021-03-25 06:07] simonnepinto commented on #6
Yeah, I will. Thank you.

[2021-03-25 07:00] leoshrey commented on #59
Hey @mishraaditya595, I tried some possible ways to make the background blur when floating action button gets touched. But whenever I run the app it crashes and throws NullPointerException. Cause I think as FAB is in a Fragment instead of Activity, it is not allowing to invoke that method.
I think, to make it possible first we need to use FAB in Activity that means we've to refactor the code for F

[2021-03-26 14:40] mishraaditya595 commented on #59
Can you let me where exactly does the app crash? And what parameters does the function demand?

[2021-03-26 15:44] mishraaditya595 opened #63 "Improving the document scanning/crop"
If anyone has ideas to improve the way images are getting cropped to scan the document in them, you can contribute.

[2021-03-26 15:46] mishraaditya595 opened #64 "Fix document saving and display them in recycler view"
Since the launch of Android 10, the Android team has implemented scoped storage. This has broken the document scanning feature of the app. If anyone can fix it, kindly contribute.

[2021-03-27 16:41] leoshrey commented on #59
It crashes just after the opening animation of ScanIt. And throws this log:

E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.vob.scanit, PID: 2266
    java.lang.NullPointerException: Attempt to invoke virtual method 'void com.getbase.floatingactionbutton.FloatingActionsMenu.setOnFloatingActionsMenuUpdateListener(com.getbase.floatingactionbutton.FloatingActionsMenu$OnFloatingActionsMenuUpd

[2021-03-28 20:53] Khushi-24 commented on #9
@mishraaditya595 Sir, Can I work on this issue if no one is working?

[2021-03-30 05:03] mishraaditya595 commented on #9
@KapilYadav-dev, since you are not active for over 2 weeks, the issue is getting assigned to @Khushi-24.

[2021-04-01 06:58] aishux opened #66 "Auto Labelling Hack"
**Description**

Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contributors ask to work under that label.

**Stack**

Project stack or language (eg. Frontend): YAML language

**Working Environment**

Operating Syst

[2021-04-06 12:30] srisatya1197 opened #67 "I want to add the tech stack section with logos"
I want to add tech stack used in this read me file .I want to work on this issue . I'm a participant of GSSOC'21 please assign me this issue @mishraaditya595 .

[2021-04-09 06:40] shantamsultania opened #68 "Suggestion for a new API"
Hey, I have a feature suggestion basically I wanted to add an API for you in which you can add all the Scans manually it thus taking your dependency from other third party software to your own this is just a suggestion that's why I am not adding it to your existing android application just suggesting it so that it could be of future use.

[2021-04-09 08:23] mishraaditya595 commented on #68
I would like to here more about the API

[2021-04-09 08:43] shantamsultania commented on #68
Ok so in Python we have OpenCV that can do the task that you are doing that is to Scan and convert easyly right know you capture the Image and sends it to other reference APIS/ lib of Firebase be it ML kit or more this makes you a bit 3rd party dependent
I am thinking of making an API for you that accepts an image as parameter and returns you a file required by you be it .pdf and all
same I want t

[2021-04-09 16:49] mishraaditya595 commented on #68
Sounds pretty exciting to me. You can start working on it. Are you a part of GSSOC?

[2021-04-10 09:37] shantamsultania commented on #68
yeah, will start working on making a conversion API for the image to other supported formats first after that a scanner image
also yeah I am a part of GSSOC

[2021-04-10 14:25] shantamsultania commented on #68
hey @mishraaditya595 can you can also add the level and assigned label to the same

[2021-04-11 05:08] mishraaditya595 commented on #68
Tell me one thing @shantamsultania, once the API is done, are you going to integrate it with the app?

[2021-04-11 05:58] shantamsultania commented on #68
right now no as you have a large number of functionalities in the applications and using OpenCV SDK also so will be first creating  an API and sharing you for review (also I will be sharing a code of how to integrate it with the Android app )
if you like the API will do the interaction as a part of the new task.

[2021-04-11 13:48] mishraaditya595 commented on #68
ok go ahead

[2021-04-12 11:02] aishux commented on #66
Please assign me this issue with a GSSOC tag

[2021-04-12 11:51] deepsjuneja commented on #59
Hey! Can I work on this issue?

[2021-04-12 11:52] deepsjuneja commented on #64
Can you please elaborate the issue a bit?

[2021-04-13 15:32] mishraaditya595 commented on #66
Hey, apologies for the delay. I issue you mentioned here does not seem to be adding much value to the project. There are a lot of active issues which you can pick up that needs urgent attention. Thanks for your interest.

[2021-04-13 15:32] #66 closed

[2021-04-14 04:06] mishraaditya595 commented on #59
Hey @leoshrey, any updates on your work? else it will be assigned to @deepsjuneja.

[2021-04-14 04:22] leoshrey commented on #59
Based on https://github.com/mishraaditya595/ScanIt/issues/59#issuecomment-808759678, I am facing build issues. If you can look into it, that's good. Otherwise you can unassign me.

[2021-04-14 04:38] mishraaditya595 commented on #59
It runs fine on my and other machines.

[2021-04-14 04:39] mishraaditya595 commented on #59
@deepsjuneja you can start working

[2021-04-14 19:08] deepsjuneja commented on #59
Okay. Thanks!

[2021-04-19 08:03] mishraaditya595 commented on #67
Hello @srisatya1197, apologies for the delay. The issue you mentioned here does not seem to be adding much value to the project. There are a lot of active issues which you can pick up that needs urgent attention. Thanks for your interest.

[2021-04-19 08:03] #67 closed

[2021-04-20 16:00] shubhidua commented on #46
I would like to contribute to the above problem in java as I am a participant of GSSOC'21. Kindly assign this to me.

[2021-04-22 13:54] deepsjuneja opened #69 "The app can't save any PDF file. A 'SS Error' toast pops up every time I try to save a file."
**Description**

The app can't save any PDF file. A 'SS Error' toast pops up every time I try to save a file.

**Stack**

Project stack or language (eg. Frontend): Android

**Working Environment**

Operating System (eg Linux): Windows

Browser (eg. Chrome): Chrome

Device (eg. Laptop or Phone): Phone

**Screenshots**

Please add a screenshot if applicable
![Screenshot_20210422_192303](https://user

[2021-04-22 16:12] mishraaditya595 commented on #46
Hey, this issue has been closed.

[2021-04-22 16:12] #46 closed

[2021-04-23 13:31] mishraaditya595 commented on #69
Since the launch of Android 11, Google has made it compulsory for apps to use scoped storage. Since the app is not using scoped storage yet, you are experiencing this error. The file is not getting saved in the storage of the phone. I have also raised an issue for the same #64.

[2021-04-23 13:32] mishraaditya595 commented on #64
Apologies for the late reply.

[2021-04-23 19:46] deepsjuneja commented on #69
Okay! Will try to look into it, and will inform you if I am able solve it.

[2021-04-24 15:54] mishraaditya595 commented on #69
That's really great. Do you want me to assign that issue to you as well?

[2021-04-25 01:58] khareyash05 opened #70 "update contributing.md"
Hi I would like to update contributing.md and add the following with proper steps-
1. Difference between git and github
2. Cloning a Repo
3. Creating a Branch and updating it locally as well as forked time to time
4. Creating a PR
5. Squashing Commits

[2021-04-26 07:08] mishraaditya595 commented on #70
Hey, thanks for your interest in the project. I think they are self-explanatory and don't really need to be in contributing.md. There are a lot more open issues that you might like to work on.

[2021-04-26 07:08] #70 closed

[2021-04-30 12:38] Kavs-123 commented on #63
Hey @mishraaditya595 ,
Can I work on this issue?

[2021-04-30 18:31] mishraaditya595 commented on #63
yeah sure! @Kavs-123

[2021-05-09 04:54] mishraaditya595 commented on #68
Hey @shantamsultania, it's been almost a month and I am yet to hear from you.

[2021-05-09 04:55] mishraaditya595 commented on #59
Hello @deepsjuneja, any updates?

[2021-05-09 04:57] mishraaditya595 commented on #14
Hello @gargijs, you can start working,

[2021-05-09 12:05] deepsjuneja commented on #59
I have partially achieved implementing the desired feature, but I'm still working on it to make it even better. Hopefully, I'll make the pull request soon.
I'm also trying to solve the problem associated with scoped storage. If I am able to tackle it, then I'll inform you.

[2021-05-09 12:25] mishraaditya595 commented on #59
Ok! Take care.

[2021-05-12 12:14] deepsjuneja commented on #59
@mishraaditya595 I think that the issue should be under Level 2. Can you please review it once?

[2021-05-12 12:19] mishraaditya595 commented on #59
Hey @deepsjuneja, do not worry about it. I will provide an appropriate level according to the work done by you in the PR.

[2021-05-12 18:12] deepsjuneja commented on #59
@mishraaditya595 I've generated the pull request. Kindly review.

Also, do I need to fill this Google form too?
https://docs.google.com/forms/d/e/1FAIpQLSd_hEKAJpjRBR7Jh4O76TVbY3MIUhCPiutK-4f20RjENC4z9A/viewform
If yes, kindly tell what does DWOC specify?

[2021-05-13 12:14] mishraaditya595 commented on #59
Just make a PR and attach the apk file or provide the link to the file. That's it.

[2021-05-13 21:30] deepsjuneja commented on #59
https://drive.google.com/file/d/1oemEGHXxnUdjfmkUp8I-ZLcOUGi8YSSt/view?usp=sharing

[2021-05-18 04:34] #59 closed

[2021-05-18 05:42] deepsjuneja commented on #59
Hey @mishraaditya595 ! You haven't updated the level. Kindly review that before uploading my score. Thanks.

[2021-05-18 11:53] rahulsain commented on #14
Can I work on this?

[2021-05-18 17:23] apoorva0107 commented on #69
@mishraaditya595 I can take up this issue, but before that can you please elaborate on how to solve this issue?

[2021-05-22 05:48] #14 closed

[2021-05-22 05:50] #69 closed

[2021-05-22 05:51] #68 closed

[2021-05-22 05:51] #64 closed

[2021-05-22 05:51] #63 closed

[2021-05-22 05:52] #62 closed

[2021-05-24 15:34] KajalSinghBAGHEL opened #73 "Update README.md"
remove grammatical mistakes

[2021-05-24 15:34] KajalSinghBAGHEL commented on #73
I am a GSSOC participant. Can I work on this issue

[2021-05-26 15:19] KajalSinghBAGHEL commented on #73
please check my pull request

[2021-06-22 06:46] JigishDalal opened #74 "Photo Capture problem"
**Image showing blurry after capture **

When I take pictures in a normal camera preview was complete but when I use this app its show blur image in auto-detection edge time, what should I do? It happens sometimes but the image so blur we can't read that image.

[2021-08-03 12:54] mksmbrtsh opened #75 "Crash when click camera or select photo"
Xiaomi 7a:
java.lang.UnsatisfiedLinkError: dlopen failed: "/data/app/com.vob.scanit-3SRf_O1WeC51dLD7fbKuoQ==/split_config.armeabi_v7a.apk!/lib/armeabi-v7a/libopencv_java4.so" has bad ELF magic
	at java.lang.Runtime.loadLibrary0(Runtime.java:1016)
	at java.lang.System.loadLibrary(System.java:1669)
	at com.monscanner.ScanActivity.<clinit>(ScanActivity.java:41)
	at java.lang.Class.newInstance(Native

[2021-12-23 20:01] skinatro opened #76 "F-Droid release"
**Releasing F-Droid builds**

A brief description of the question or issue:

F-Droid is a FOSS only store for android, so it would be pretty convenient to have the app on F-Droid as well as well as a GPlayStore build. (considering the app is open source as well)

For more information check this out [https://f-droid.org/](https://f-droid.org/)

[2021-12-24 02:39] icebarf commented on #76
hi, are you asking that fdroid be released on: Fdroid "and Google Play Store" ?

[2022-01-07 18:31] skinatro commented on #76
No I am talking about the app to be released on f-droid

[2022-01-08 01:26] icebarf commented on #76
Hain
[code]

[2022-01-18 02:16] #76 closed, assigned to nobody

[2022-01-21 19:08] mhammadsaani commented on #6
Is this project still active?

[2022-08-03 14:30] sarahBenzaquen commented on #6
Hi , I'm trying to run the project on my xiaomi but I have errors like "Unable to resolve dependency for ':app@debugUnitTest/compileClasspath': Could not resolve ai.artivatic:cameracontroller:2.0.1."
I'm new on Android , someone could help me please ?

[2022-08-05 04:44] mishraaditya595 commented on #6
Hi @sarahBenzaquen,
Thanks for showing interest in the project. I am not actively maintaining this project anymore. Hence, there might be some issues with the changes in the Android OS framework and the deprecation of APIs. Feel free to fork the project and make your desired changes.

[2022-08-05 04:44] #6 closed

[2022-11-15 05:31] killerrook opened #77 "Green screen while scanning documents"
**Description**

App shows green screen while scanning documents

**Screenshots**
![Screenshot_2022-11-15-10-52-42-89_f99a2dd9dd08fa27927e07ee0c888d33](https://user-images.githubusercontent.com/28833686/201834193-c9f5d27c-a7de-4168-beac-55401e7a349a.png)

**Possible solution**
If i change settings to lower resolution the problem is resolved so maybe detect what resolution is supported by camera ra

[2022-11-15 05:34] killerrook opened #78 "App constantly uses camera even when the app is in background"
**Description:**
The app still uses camera when the app is not running in foreground (suspicious)
It also prevents me from using my face app lock feature.

**Additional information:**
Feel free to ask me for screenrecording if you need one

[2022-11-15 05:45] killerrook opened #79 "No option to save as image file?"
**Description**

Also no feature request template

One more suggestion can you use beta templates for opening issues?

[2022-11-15 05:46] killerrook opened #80 "Is the project abandoned?"